---
import { getCollection } from "astro:content";
import Tags from "../../components/Tags.astro";
import BaseTemplate from "../../templates/BaseTemplate.astro";

const pageTitle = "Etiquetas";
const allPosts = await getCollection('posts');

const tags = [...new Set(allPosts.flatMap((post) => post.data.tags))];
---

<BaseTemplate pageTitle={pageTitle}>
  <p>Estas son algunas de las etiquetas:</p>
  <Tags tags={tags} />
</BaseTemplate>
