---
import BlogPost from "../components/BlogPost.astro";
import BaseTemplate from "../templates/BaseTemplate.astro";

const allPosts = await Astro.glob("./posts/*.md");
const pageTitle = "Mi blog";
---

<BaseTemplate pageTitle={pageTitle}>
  <p>Aquí es donde publicaré sobre mi viaje de aprendizaje Astro.</p>
  <ul>
    {
      allPosts.map((post) => (
        <BlogPost url={post.url} title={post.frontmatter.title} />
      ))
    }
  </ul>
</BaseTemplate>
