---
import BaseLayout from "../templates/BaseTemplate.astro";
const pageTitle = 'Inicio';
---

<BaseLayout pageTitle={pageTitle}>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil facilis dignissimos unde obcaecati necessitatibus, veniam et non officia accusantium. Facere quibusdam consequuntur minima aliquam enim voluptatibus possimus quaerat maiores illum.</p>
</BaseLayout>  
